@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0, 0%, 100%;
    --card: 0, 0%, 93%;
    --card-foreground: 0, 0%, 0%;
    --popover: 0, 0%, 93%;
    --popover-foreground: 0, 0%, 100%;
    --code: 44, 5%, 100%;
    --code-foreground: 44, 5%, 0%;
    --primary: 44, 85%, 66%;
    --primary-foreground: 44, 15%, 14%;
    --secondary: 44, 85%, 86%;
    --secondary-foreground: 44, 85%, 14%;
    --muted: 0, 0%, 10%;
    --muted-foreground: 0, 0%, 20%;
    --accent: 0, 0%, 55%;
    --accent-foreground: 0, 0%, 100%;
    --destructive: 0, 85%, 66%;
    --destructive-foreground: 0, 79%, 11%;
    --success: 125, 42%, 10%;
    --success-foreground: 128, 85%, 66%;
    --process: 227, 85%, 66%;
    --border: 44, 15%, 86%;
    --border-primary: 0, 0%, 100%;
    --input: 0, 0%, 76%;
    --ring: 44, 85%, 66%;
    --radius: 0.5rem;

    --type-number: 183, 33%, 40%;
    --type-number-foreground: 183, 33%, 10%;
    --type-color: 40, 75%, 48%;
    --type-color-foreground: 40, 75%, 48%;
  }

  .dark {
    --background: 0, 4%, 5%;
    --foreground: 43, 59%, 90%;
    --card: 0, 0%, 15%;
    --card-foreground: 43, 59%, 81%;
    --popover: 0, 0%, 7%;
    --popover-foreground: 0, 0%, 100%;
    --code: 44, 5%, 10%;
    --code-foreground: 44, 5%, 100%;
    --primary: 40, 74%, 48%;
    --primary-foreground: 44, 15%, 14%;
    --secondary: 44, 15%, 14%;
    --secondary-foreground: 44, 85%, 66%;
    --muted: 44, 0%, 10%;
    --muted-foreground: 38, 23%, 66%;
    --accent: 122, 20%, 50%;
    --accent-foreground: 0, 0%, 100%;
    --destructive: 3, 79%, 8%;
    --destructive-foreground: 3, 86%, 64%;
    --success: 125, 42%, 10%;
    --success-foreground: 122, 22%, 51%;
    --process: 227, 85%, 66%;
    --border: 0, 0%, 20%;
    --border-primary: 0, 0%, 100%;
    --input: 0, 0%, 76%;
    --ring: 44, 85%, 66%;
    --radius: 0.5rem;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-primary-foreground text-primary;
  }
}


@layer components {
  code {
    @apply bg-code text-code-foreground font-mono p-1 rounded border border-border;
  }

  .header-section-1 {
    @apply text-4xl font-black tracking-tight scroll-m-20;
  }

  .header-section-2 {
    @apply text-3xl font-extrabold tracking-tight scroll-m-20 pb-2 [&:not(:first-child)]:mt-6;
  }

  .header-section-3 {
    @apply text-2xl font-bold tracking-tight scroll-m-20 [&:not(:first-child)]:mt-6;
  }

  p {
    @apply leading-7 [&:not(:first-child)]:mt-2;
  }
}